
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(14, 14, 14);
    --color-secondary: gray;
    --color-accent: rgb(59, 82, 232);
    --color-text: whitesmoke;
}

html, body {
    /* overflow: hidden; */
    width: 100%;
}

.dashboard_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    max-width: 980px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "Cinzel", serif;
    grid-template-areas: 
        "header_container header_container"
        "hero_container myImage_container"
        "projects_container projects_container"
        "experties_container experties_container"
        "footer_container footer_container"
    ;
}

.header_container {
    grid-area: header_container;
}

.hero_container {
    grid-area: hero_container;
}

.myIamge_container {
    grid-area: myImage_container;
}

.projects_container {
    grid-area: projects_container;
}

.experties_container {
    grid-area: experties_container;
}

.footer_container {
    grid-area: footer_container;
}

@media (max-width: 768px) {
   .dashboard_container {
    display: block;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(7, auto); */
   
}

.header_container {
    /* grid-column: auto;
    grid-row: auto; */
    display: block;
}

.hero_container {
     /* grid-column: auto;
    grid-row: auto; */
    display: block;
}

.myIamge_container {
     grid-column: auto;
    grid-row: auto;
}

.projects_container {
    /* grid-column: auto;
    grid-row: auto; */
    display: block;
}

.experties_container {
     /* grid-column: auto;
    grid-row: auto; */
    display: block;
}

.footer_container {
     /* grid-column: auto;
    grid-row: auto; */
    display: block;
}


   
}
